# Build directories
/build/
/Debug/
/Release/

# Visual Studio files
*.sdf
*.vcxproj.user

# SFML DLLs
/lib/bin/

# Other
*.log
/.vs/Transity/FileContentIndex/*
*.vsidx
*.ipch
/.vs/Transity/v17/*
/assets/
/assets/heightmaps/world_ehigh.jpg
/assets/heightmaps/world_heightmap.png
/assets/heightmaps/world_heightmap_old.png
/assets/textures/texture_atlas.png
