# Build directories
/build/
/Debug/
/Release/

# Visual Studio files
*.sdf
*.vcxproj.user

# SFML DLLs
/lib/bin/

# Other
*.log
/.vs/Transity/FileContentIndex/*
*.vsidx
*.ipch
/.vs/Transity/v17/*
/assets/
/include/gdal-3.9.3
/include/mapbox/earcut.hpp
/include
/data
