[submodule "lib/entt"]
	path = lib/entt
	url = https://github.com/skypjack/entt.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/imgui-SFML"]
	path = lib/imgui-SFML
	url = https://github.com/SFML/imgui-sfml.git
[submodule "cli"]
	path = cli
	url = https://github.com/microsoft/vcpkg.git
[submodule "lib/tomlplusplus"]
	path = lib/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
